#format: sh
#
#  gbseqloader.config
#
#  This file sets up environment variables that are needed for the
#  GenBank Sequence load
#
###########################################################################

###########################################################################
#
#  GENERAL SETTINGS
#
###########################################################################

#  Installation directory for the GenBank sequence load
#INSTALLDIR=/usr/local/mgi/3.0/dataload/gbseqloader
INSTALLDIR=/home/sc/jsam/gbseqloader

#  Installation directory for the DB utilities product
DBUTILSDIR=/home/sc/jsam/mgidbutilities
#DBUTILSDIR=\\Shire\sc\jsam\mgidbutilities

#  Installation directory for the QC report product
#QCRPTDIR=/usr/local/mgi/qcreports_db
QCRPTDIR=/home/sc/jsam/qcreports_db

export INSTALLDIR DBUTILSDIR QCRPTDIR

###########################################################################
#
#  DATABASE SETTINGS
#
###########################################################################

#  Connection parameters for the MGD database
MGD_DBSERVER=DEV_MGI
MGD_DBNAME=mgd_jsamsc
MGD_DBUSER=mgd_dbo
MGD_DBPASSWORDFILE=${DBUTILSDIR}/.mgd_dbo_password
MGD_DBSCHEMADIR=/home/sc/jsam/mgddbschema

export MGD_DBSERVER MGD_DBNAME
export MGD_DBUSER MGD_DBPASSWORDFILE MGD_DBSCHEMADIR

###########################################################################
#
#  SOFTWARE SETTINGS
#
###########################################################################

JAVA_HOME=/usr/j2se
JAVA_RUN=${JAVA_HOME}/bin/java
JAVARUNTIMEOPTS=-Xmx2000m      # allow 500m memory limit

#CLASSPATH=.:${JAVA_HOME}/jre/lib/rt.jar:/opt/sybase/12.5/jConnect-5_5/classes/jconn2.jar:/usr/local/mgi/3.0/lib/java1.4/class

CLASSPATH=.:/home/sc/jsam/special_classes/java:/home/sc/jsam/java/class:${JAVA_HOME}/jre/lib/rt.jar:/opt/sybase/12.5/jConnect-5_5/classes/jconn2.jar

DLAFUNCTIONS=${DBUTILSDIR}/bin/DLAfunctions.sh

JOBSTART_CSH=${DBUTILSDIR}/bin/startJobStream.csh
JOBEND_CSH=${DBUTILSDIR}/bin/endJobStream.csh

export JAVA_HOME JAVA_RUN CLASSPATH DLAFUNCTIONS
export JOBSTART_CSH JOBEND_CSH

###########################################################################
#
#  LOAD SPECIFIC SETTINGS
#
###########################################################################

#  Java applications
GBSEQLOAD_APP=org.jax.mgi.app.gbseqloader.GBSeqLoader

#  Clone loader shell script
GBSEQLOAD_SH=${INSTALLDIR}/bin/gbseqload.sh

#  Clone loader QC report shell script
# this script doesn't yet exist
GBSEQLOD_QCRPT=${QCRPTDIR}/gbseqloadRpt.sh

export GBSEQLOAD_APP GBSEQLOAD_SH GBSEQLOD_QCRPT

#  Path name of the data, report, log and archive directories
FILEDIR=/net/rohan/data/loads/genbank/gbseqload

# note pc can't see this rohan dir yet
#FILEDIR=\\Rohan\data\loads\genbank\gbseqload
#FILEDIR=\\Shire\sc

DATADIR=/net/rohan/data/downloads/ftp.ncbi.nih.gov/gbseqloader
#DATADIR=\\Rohan\data\downloads\ftp.ncbi.nih.gov\genbank
LOGDIR=${FILEDIR}/logs
#LOGDIR=${FILEDIR}\logs
RPTDIR=${FILEDIR}/reports
#RPTDIR=${FILEDIR}\reports
ARCHIVEDIR=${FILEDIR}/archive
#ARCHIVEDIR=${FILEDIR}\archive

export FILEDIR DATADIR LOGDIR RPTDIR ARCHIVEDIR

#  Complete path name of the GenBank input file
INFILE_NAME=${DATADIR}/data

## GenBank sequence record delimiter
INFILE_DELIMITER="^//"

# incremental or delete/reload mode
#LOAD_MODE=

export INFILE_NAME INFILE_DELIMITER LOAD_MODE

# true if a virtual (computationally derived) sequence
VIRTUAL=false

# this load's login value for DB table CreatedBy and ModifiedBy
# I think we'll need the user type also?
JOBSTREAM=jsam_load

# SEQ_Sequence Provider controlled vocab for GenBank
PROVIDER=GenBank

# load jnumber
# Don't think we need this anymore
JNUMBER=J:12345

# logical db name for this data provider
LOGICALDB="Sequence DB"

export VIRTUAL JOBSTREAM PROVIDER JNUMBER LOGICALDB

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/gbseqloader.proc.log
#LOG_PROC=${LOGDIR}\gbseqloader.proc.log
LOG_DIAG=${LOGDIR}/gbseqloader.diag.log
#LOG_DIAG=${LOGDIR}\gbseqloader.diag.log
LOG_CUR=${LOGDIR}/gbseqloader.cur.log
#LOG_CUR=${LOGDIR}\gbseqloader.cur.log
LOG_VAL=${LOGDIR}/gbseqloader.val.log
#LOG_VAL=${LOGDIR}\gbseqloader.val.log

# Send debug messages to the diagnostic log
LOG_DEBUG=true

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL LOG_DEBUG


#  Settings used to create a BCP manager for the MGD database
MGD_BCP_PATH=${FILEDIR}/data
MGD_BCP_PREVENT_EXECUTE=true
MGD_BCP_TRUNCATE_LOG=true
MGD_BCP_DROP_INDEXES=true
MGD_BCP_RECORD_STAMPING=false
MGD_BCP_AUTO_FLUSH=false

export MGD_BCP_PATH MGD_BCP_PREVENT_EXECUTE MGD_BCP_TRUNCATE_LOG
export MGD_BCP_DROP_INDEXES MGD_BCP_RECORD_STAMPING MGD_BCP_AUTO_FLUSH


###########################################################################
#
#  MISCELLANEOUS SETTINGS
#
###########################################################################

#  Recipient list for mailing the log files (comma-separated)
MAIL_LOG_PROC="sc"
MAIL_LOG_CUR=""

export MAIL_LOG_PROC MAIL_LOG_CUR
